Brotli 
certifi 
charset-normalizer 
chumpy @ git+https://github.com/mattloper/chumpy.git@51d5afd92a8ded3637553be8cef41f328a1c863a
contourpy==1.3.0
cycler==0.12.1
decord==0.6.0
filelock 
fonttools==4.56.0
fsspec==2025.3.2
gmpy2 
idna 
importlib_resources==6.5.2
Jinja2 
kiwisolver==1.4.7
MarkupSafe 
matplotlib==3.9.4
mkl-service==2.4.0
mkl_fft 
mkl_random 
mpmath 
networkx 
numpy 
opencv-python==4.11.0.86
packaging==24.2
pillow 
pyparsing==3.2.1
PySocks 
python-dateutil==2.9.0.post0
PyYAML 
requests 
scipy==1.13.1
six==1.17.0
smplx==0.1.28
sympy==1.13.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
triton==3.1.0
typing_extensions 
urllib3 
yacs==0.1.8
zipp==3.21.0
